<!DOCTYPE html>
<html>

<head>

    <title>EduTrack Portal</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <h1>Welcome to EduTrack Portal 🚀</h1>

    <p>Advanced Student Management System</p>

    <a href="/add-student">
        <button>Add Student</button>
    </a>

    <br><br>

    <a href="/students">
        <button>View Students</button>
    </a>

    <br><br>

    <a href="/dashboard">
        <button>Dashboard</button>
    </a>
    <br><br>

<a href="/student-login">
    <button>Student Login</button>
</a>

</body>

</html>