<!DOCTYPE html>
<html>

<head>
    <title>Student Dashboard</title>
</head>

<body>

    <h1>Welcome {{ student[1] }} 👋</h1>

    <hr>

    <p><b>Roll No:</b> {{ student[2] }}</p>

    <p><b>Branch:</b> {{ student[3] }}</p>

    <p><b>Email:</b> {{ student[4] }}</p>

    <p><b>Phone:</b> {{ student[5] }}</p>

    <p><b>Marks:</b> {{ student[7] }}</p>

    <br>

    <img
        src="{{ url_for('static', filename=student[8]) }}"
        width="150">

    <br><br>

    <a href="/change-password">
        <button>
            Change Password 🔐
        </button>
    </a>

    <br><br>

    <a href="/student-logout">
        <button>
            Logout 🚪
        </button>
    </a>

</body>

</html>